{% extends 'base-back.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
    <h1>Create new Publication</h1>

    {{ form_start(form, {'nonvalidate':'nonvalidate'}) }}

    <div class="form-group" invalidate>
        {{ form_label(form.Titre) }}
        {{ form_widget(form.Titre, {'attr': {'class': 'form-control'}}) }}
        {% set titreError = form.Titre.vars.submitted and form.Titre.vars.value is empty and form_errors(form.Titre) is not empty %}
        {{form_errors(form.Titre)}}
    </div>

    <div class="form-group"invalidate>
        {{ form_label(form.Description) }}
        {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
        {% set descriptionError = form.Description.vars.submitted and form.Description.vars.value is empty and form_errors(form.Description) is not empty %}
        {{form_errors(form.Description)}}

    </div>

    <div class="form-group"invalidate>
        {{ form_label(form.UrlRessource) }}
        {{ form_widget(form.UrlRessource, {'attr': {'class': 'form-control'}}) }}
        {% set urlError = form.UrlRessource.vars.submitted and form.UrlRessource.vars.value is empty and form_errors(form.UrlRessource) is not empty %}
        {{form_errors(form.UrlRessource)}}
    </div>

    <div>
      <button type="submit" class="btn btn-warning btn-sm" formnovalidate ><strong><em>Ajouter</em></strong></button>
    </div>

    {{ form_end(form) }}

    <a href="{{ path('app_publication_index') }}">Back to list</a>
    <div id="successModal" class="modal fireworks">
        <h2>Félicitations!</h2>
    </div>




    <script>

        {% if suc==true %}
        document.addEventListener('DOMContentLoaded', function() {
            const modal = document.getElementById('successModal');
            modal.style.display = 'block';
            setTimeout(function() {
                window.location.href = "{{ path('app_publication_index') }}";
            }, 5000);
        });
        {% endif %}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>

    <!-- UNPKG -->
    <script src="https://unpkg.com/fireworks-js@2.x/dist/index.umd.js"></script>
    <script>
        const container = document.querySelector('.fireworks')
        const fireworks = new Fireworks.default(container)
        fireworks.updateSize(300,300)
        fireworks.start()
    </script>
    <style>

        #successModal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        h2 {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-family: "Source Sans Pro";
            font-size: 5em;
            font-weight: 900;
            -webkit-user-select: none;
            user-select: none;
        }

    </style>
{% endblock %}