{% extends 'base-front.html.twig' %}

{% block body %}
<main id="main" class="main" >
    <div class="container">
       <h1 class="text-right mt-5 mb-2 text-warning">Liste des Hotels</h1>
       
        <div class="row row-cols-1 row-cols-md-3 g-3">

            {% for hotel in hotels %}
          
                <div class="col">
                    <div class="card h-70">
                        <img src="{{ hotel.PhotoUrl }}" alt="{{ hotel.NameH }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ hotel.NameH }}</h5>
                            <p class="card-text"><strong>Location :</strong> {{ hotel.Location }}</p>
                            <p class="card-text"><strong>Rating :</strong> {{ hotel.Rating }}</p>
                            <p class="card-text"><strong>Description :</strong> {{ hotel.Description }}</p>
                              
                           
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{ path('showfront', {'id': hotel.id}) }}" class="btn btn-primary ms-auto">Détail de l'hotel</a>

                            
                    
                        </div>
                    </div>
                </div>
               
                {% endfor %}
        </div>
       
    </div>
</main>
{% endblock %}