{% extends 'base-back.html.twig' %}

{% block title %}Recompense{% endblock %}

{% block body %}
    <h1>Recompense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recompense.id }}</td>
            </tr>
            <tr>
                <th>NomRecp</th>
                <td>{{ recompense.NomRecp }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ recompense.Niveau }}</td>
            </tr>
            <tr>
                <th>DescriptionRecp</th>
                <td>{{ recompense.DescriptionRecp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recompense_index') }}">back to list</a>

    <a href="{{ path('app_recompense_edit', {'id': recompense.id}) }}">edit</a>

    {{ include('recompense/_delete_form.html.twig') }}
{% endblock %}
