{% extends "base-back.html.twig" %}
{% block title %}
Add User{% endblock %}
{% block body %}
<main id="main" class="main">

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add an admin</h5>


                  {% form_theme f 'bootstrap_5_layout.html.twig' %}
                    {{ form_start(f,{'attr':{'classs':'form-horizontal'}})}}
                  
                    <div class="col-12">
                    
                    {{ form_label(f.CIN,"CIN") }}
                    {{ form_widget(f.CIN) }}
                    {{ form_errors(f.CIN) }}
                    
                    </div>
                        
                        
                    <div class="col-12">
                    
                    {{ form_label(f.UserName,"User name") }}
                    {{ form_widget(f.UserName) }}
                    {{ form_errors(f.UserName) }}
                      </div>
                    </div>
                    <div class="col-12">
                    
                    {{ form_label(f.Email,"Email") }}
                    {{ form_widget(f.Email) }}
                    {{ form_errors(f.Email) }}
                    
                    </div>
                    <div class="col-12">
                    
                    {{ form_label(f.Adresse,"Adresse") }}
                    {{ form_widget(f.Adresse) }}
                    {{ form_errors(f.Adresse) }}
                    </div>
                    
                    <div class="col-12">
                    
                    {{ form_label(f.NumTel,"Phone Number") }}
                    {{ form_widget(f.NumTel) }}
                    {{ form_errors(f.NumTel) }}
                    
                    </div>
                    <div class="col-12">
                    
                    {{ form_label(f.Pwd,"Password") }}
                    {{ form_widget(f.Pwd) }}
                    {{ form_errors(f.Pwd) }}

                    </div>

                    <div class="col-12">
                   {{form_label(f.Create_an_account) }}
                   {{ form_end(f) }}
                    </div>
            </div>
          </div>
</main>
{% endblock %}